* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  overflow-wrap: break-word;
  font-size: 1.3rem;
}

.msg {
  display: flex;
  margin: 20px;
  padding: 10px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  max-width: 80%;
}

.sent {
  background-color: #2541b2;
  color: white;
  border-bottom-right-radius: 10px;
  flex-direction: column;
  align-self: flex-end;
  text-align: right;
}

.recieved {
  border: 1px solid lightgray;
  background-color: #fafafa;
  border-bottom-left-radius: 10px;
  flex-direction: column;
  align-self: flex-start;
}

.msgs {
  margin: 0 0 90px 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.uid {
  font-weight: 200;
  font-size: 0.8rem;
}

.self {
  display: none;
}
@media (max-width: 775px) {
  p {
    font-size: 1rem;
  }
  .sent {
    padding: 10px 10px 0 10px;
  }
  .received {
    padding: 10px 10px 0 10px;
  }
  img {
    height: 35px;
    margin-top: -10px;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 15px;
  }
  .sent {
    padding: 7px 7px 0 7px;
  }
  .received {
    padding: 7px 7px 0 7px;
  }
  img {
    height: 30px;
    margin-top: -7px;
  }
}
